<div class="container">
  <div class="header text-center">
    <h2 class="mb-2 pb-0"><i class="small fas fa-user-circle text-muted"></i> <%= @user.name %></h2>
    <% if user_signed_in? && @user == current_user %>
      <p>
        <span class="text-muted">This is your page</span>.
        Share it.

    <% end %>
  </div>

  <h5>Latest Checkins</h5>
  <% if @user.latest_checkins.empty? %>
    <p class="text-center">No checkins yet.</p>
  <% else %>
    <ul class="list-group rounded-lg">
      <% @user.latest_checkins.each do |checkin| %>
        <li class="list-group-item list-group-item-<%= checkin_bs_context_name(checkin) %>">
          <div class="d-flex w-100 justify-content-between align-items-center">
            <span class="h4"><%= checkin.pulse_status.display_name %></span>
            <span class="badge badge-primary badge-pill pill-time-ago">
              <%= time_ago_in_words(checkin.created_at) %>
            </span>
          </div>
          <% if checkin.message.length.positive? %>
              <p class="mb-0">
                <sup><i class="fas fa-quote-left"></i></sup>
                <%= checkin.message %>
                <sup><i class="fas fa-quote-right"></i></sup>
              </p>
          <% end %>
          <% unless checkin.location.empty? %>
            <div>
              <i class="fas fa-map-marker-alt"></i>
              <%= checkin.location %>
            </div>
          <% end %>
          <small class="text-muted"><%= local_time(checkin.created_at) %></small>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
