<div class="container">
  <h1 class="text-center">Check In</h1>
  <p class="text-center mb-0">How are you doing right now?</p>
  <p class="text-center">After you check in, people who visit your profile page will see your update there.</p>

  <%= simple_form_for(@checkin, html: { autocomplete: :off }) do |f| %>
    <%= f.association :pulse_status,
                      label: 'Status',
                      include_blank: false,
                      label_method: :display_name,
                      class: "status-name" %>
    <%= f.input :location,
                label: 'Location (optional)',
                placeholder: 'Where are you?' %>
    <%= f.input :message,
                label: 'Message (optional)',
                placeholder: 'Share a little more info' %>

    <%= f.button :submit, 'Check In', class: 'btn btn-primary w-100' %>
  <% end %>
</div>
