<!DOCTYPE html>
<html>
  <head>
    <title>Pulse - safety status updater</title>
    <meta name="description" content="Let the people who care about you know when you're safe &emdash; and when you're not.">

    <meta property='og:title' content="Pulse" data-dynamic='true' />
    <meta property='og:site_name' content='Pulse' data-dynamic='true' />
    <meta property='og:url' content='https://safetypulse.herokuapp.com' />
    <meta property='og:description' content="Pulse - safety status updater"  data-dynamic='true' />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="container page-content">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
